<nav class="navbar-fixed-top" role="navigation">
  <div class="nav-wrapper">
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons white-text">menu</i></a>
    <a href="#!" class="brand-logo"><img src="assets/images/Yellow-Kaalpanik-banner.png" width="140px;"id="pulse-effect"></a>
    
    <ul id = "nav-mobile" class = "right hide-on-med-and-down">
        <li><a href="#home" class="dark-grey-text">HOME</a></li>
      <li><a href="#aboutus" class="dark-grey-text">ABOUT US</a></li>
      <li><a href="#whatwedo" class="dark-grey-text">WHAT WE DO</a></li>
      <li><a href="#contactus" class="dark-grey-text">CONTACT US</a></li>
    </ul>
    <ul class="left sidenav mobile-nav" id="mobile-demo">
      <li><a href="#home">HOME</a></li>
      <li><a href="#aboutus">ABOUT US</a></li>
      <li><a href="#whatwedo">WHAT WE DO</a></li>
      <li><a href="#contactus">CONTACT US</a></li>
    </ul>
  </div>
</nav>