<section id="home">
  <div class="carousel carousel-slider" data-indicators="true">
    <div class="carousel-fixed-item center middle-indicator">
      <div class="left">
        <a href="Previo" class="movePrevCarousel middle-indicator-text waves-effect waves-light content-indicator"><i class="material-icons left  middle-indicator-text">chevron_left</i></a>
      </div>
      <div class="right">
        <a href="Siguiente" class=" moveNextCarousel middle-indicator-text waves-effect waves-light content-indicator"><i class="material-icons right middle-indicator-text">chevron_right</i></a>
      </div>
    </div>
    <div class="carousel-item valign-wrapper red white-text" href="#one!">
      <div class="caption carousel-inner-div container">
        <div class="row">
          <div class="col s12 m6 l6 ">
            <h4 class="white-text"> Explore the AWS platform, cloud products, and capabilities</h4>
            <h5>Get started&nbsp; 
              <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            </h5>
          </div>
          <div class="center col s12 m6 l6">
            <img src="assets/images/Site-Merch_What-is-AWS_Hero.png" class="responsive-img">
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item valign-wrapper amber white-text" href="#two!">
      <div class="caption container">
        <div class="row">
          <div class="col s12 m6 l6">
            <h4 class="white-text">Use Amazon EC2, S3, and more — free for a full year</h4>
            <h5>Learn more about the AWS Free Tier&nbsp;
              <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            </h5>
          </div>
          <div class="center col s12 m6 l6">
            <img src="assets/images/Site-Merch_Free-Tier_Hero.png" class="responsive-img">
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item valign-wrapper green white-text" href="#three!">
      <div class="caption container">
        <div class="row">
          <div class="col s12 m6 l6">
            <h4 class="white-text"> Getting Started Resource Center</h4>
            <h5>Technical documentation and other free resources to help you build with AWS</h5>
            <h5>Get started&nbsp; 
              <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            </h5>
          </div>
          <div class="center col s12 m6 l6">
            <img src="assets/images/Site-Merch_Getting-Started_Hero.png" class="responsive-img">
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item valign-wrapper lime white-text" href="#four!">
      <div class="caption container">
        <div class="row">
          <div class="col s12 m6 l6">
            <h4 class="white-text"> Amazon SageMaker</h4>
            <h5>Build, train, and deploy machine learning models</h5>
            <h5>Learn more&nbsp;
              <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            </h5>
          </div>
          <div class="center col s12 m6 l6">
            <img src="assets/images/SageMaker_Hero.png" class="responsive-img">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>