<section id="aboutus">
  <span class="anchor"></span>

  <div class="container about">
    <div class="center header what">
      <h2 id="pulse-effect">ABOUT US</h2>
    </div>
    <div class="row row-margin">
      <div class="col s12 m6 l3">
        <a class="modal-trigger white-text" href="#modal1">
          <div class="card bottom hoverable">
                <div class="card-content yellow lighten-2">
              <i class="fa fa-eye fa-2x black-text card-icon" aria-hidden="true"></i>
              <span class="card-title card-info black-text">
                <b>Overview</b>
              </span>
                </div>
            </div>
          </a>
      </div>
      <!-- Modal Structure -->
       <div id="modal1" class="modal bottom-sheet">
         <div class="modal-content">
            <h4 class="center about-title">Overview</h4>
            <hr class="modal-heading">
            <div class="row container">
            <div class="col s12 m6 l4">
              <a href="#!" class="black-text">
                <div class="card horizontal hoverable">
                  <div class="card-image image">
                     <i class="material-icons icon">phone_android</i>
                  </div>
                  <div class="card-content">
                    <b>Mobile Applications</b><br>
                    <p>Where does it come from?</p>
                  </div>
                </div>
              </a>
            </div>
            <div class="col s12 m6 l4">
              <a href="#!" class="black-text">
                <div class="card horizontal hoverable">
                  <div class="card-image image">
                     <i class="material-icons icon">settings</i>
                  </div>
                  <div class="card-content">
                    <b>Web Development</b><br>
                    <p>Where does it come from?</p>
                  </div>
                </div>
              </a>
            </div>
            <div class="col s12 m6 l4">
              <a href="#!" class="black-text">
                <div class="card horizontal hoverable">
                <div class="card-image image">
                 <i class="material-icons icon">cloud</i>
                </div>
                <div class="card-content">
                  <b>Cloud Computing</b><br>
                  <p>Where does it come from?</p>
                </div>
              </div>
            </a>
            </div>
            <div class="col s12 m6 l4">
              <a href="#!" class="black-text">
                <div class="card horizontal hoverable">
                  <div class="card-image image">
                   <i class="material-icons icon">language</i>
                  </div>
                  <div class="card-content">
                    <b>Internet Of Things</b><br>
                    <p>Where does it come from?</p>
                  </div>
                </div>
              </a>
            </div>
            <div class="col s12 m6 l4">
              <a href="#!" class="black-text">
                <div class="card horizontal hoverable">
                  <div class="card-image image">
                   <i class="material-icons icon">trending_up</i>
                  </div>
                  <div class="card-content">
                    <b>Analytics & Big Data</b><br>
                    <p>Where does it come from?</p>
                  </div>
                </div>
              </a>
            </div>
            <div class="col s12 m6 l4">
              <a href="#!" class="black-text">
                <div class="card horizontal hoverable">
                  <div class="card-image image">
                   <i class="material-icons icon">web_asset</i>
                  </div>
                  <div class="card-content">
                    <b>UX/UI Design</b><br>
                    <p>Where does it come from?</p>
                  </div>
                </div>
              </a>
            </div>
            <div class="col s12 m6 l4">
              <a href="#!" class="black-text">
                <div class="card horizontal hoverable">
                  <div class="card-image image">
                   <i class="material-icons icon">share</i>
                  </div>
                  <div class="card-content">
                    <b>Internet Marketing</b><br>
                    <p>Where does it come from?</p>
                  </div>
                </div>
              </a>
            </div>
            <div class="col s12 m6 l4">
              <a href="#!" class="black-text">
                <div class="card horizontal hoverable">
                  <div class="card-image image">
                    <i class="material-icons icon">headset_mic</i>
                  </div>
                  <div class="card-content">
                    <b>Software Consulting</b><br>
                    <p>Where does it come from?</p>
                  </div>
                </div>
              </a>
            </div>
            <div class="col s12 m6 l4">
              <a href="#!" class="black-text">
                <div class="card horizontal hoverable">
                  <div class="card-image image">
                   <i class="material-icons icon black-text">block</i>
                  </div>
                  <div class="card-content">
                    <b>Blockchain Services</b><br>
                    <p>Where does it come from?</p>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
       </div>
      <!--Modal Structure Ends-->
    <div class="col s12 m6 l3">
      <a class="modal-trigger" href="#modal2">
        <div class="card bottom hoverable">
              <div class="card-content yellow lighten-2">
            <i class="fa fa-handshake-o fa-2x black-text card-icon" aria-hidden="true"></i>
            <span class="card-title card-info black-text">
              <b>Clientele</b>
            </span>			
              </div>
          </div>
        </a>
    </div>
    <!-- Modal Structure -->
     <div id="modal2" class="modal bottom-sheet">
       <div class="modal-content container">
        <h4 class="center about-title">Clientele</h4>
        <hr class="modal-heading">
       <div class="clients-wrapper">
        <div class="center">
          <img src="assets/clientlogoss/AdParlor-Clients-Wingstop.png" class="responive-img">
        </div>
        <div class="center">
          <img src="assets/clientlogoss/Airtechinternational.png" class="responive-img">
        </div>
        <div class="center">
          <img src="assets/clientlogoss/Chaayos.png" class="responive-img">
        </div>
        <div class="center">
          <img src="assets/clientlogoss/Gujralindustries.jpg" class="responive-img">
        </div>
        <div class="center">
          <img src="assets/clientlogoss/KMshop.png" class="responive-img">
        </div>
        <div class="center">
          <img src="assets/clientlogoss/Karma-Rublogo-light.png" class="responive-img">
        </div>
        <div class="center">
          <img src="assets/clientlogoss/LogoTransparent1.png" class="responive-img">
        </div>
        <div class="center">
          <img src="assets/clientlogoss/OvalLogo.png" class="responive-img">
        </div>
        <div class="center">
          <img src="assets/clientlogoss/Perfume2order.png" class="responive-img">
        </div>
        <div class="center">
          <img src="assets/clientlogoss/Seraphic-Creations-Logo.jpg" class="responive-img">
        </div>
        <div class="center">
          <img src="assets/clientlogoss/XDORIA.png" class="responive-img">
        </div>
        <div class="center">
          <img src="assets/clientlogoss/axisdisplay.png" class="responive-img">
        </div>
        <div class="center">
          <img src="assets/clientlogoss/blackhog.jpeg" class="responive-img">
        </div>
        <div class="center">
          <img src="assets/clientlogoss/brain-pipes-logo.png" class="responive-img">
        </div>
        <div class="center">
          <img src="assets/clientlogoss/cetrom-banner.jpg" class="responive-img">
        </div>
        <div class="center">
          <img src="assets/clientlogoss/drbackup.png" class="responive-img">
        </div>
        <div class="center">
          <img src="assets/clientlogoss/johos-loading.gif" class="responive-img">
        </div>
        <div class="center">
          <img src="assets/clientlogoss/moryaexport.png" class="responive-img">
        </div>
        <div class="center">
          <img src="assets/clientlogoss/pacific-bridge-medical.png" class="responive-img">
        </div>
        <div class="center">
          <img src="assets/clientlogoss/riddhigala.jpg" class="responive-img">
        </div>
        <div class="center">
          <img src="assets/clientlogoss/maha-state.gif" class="responive-img">
        </div>
        <div class="center">
          <img src="assets/clientlogoss/IndianForestService.png" class="responive-img">
        </div>
        <div class="center">
          <img src="assets/clientlogoss/Maha-arogya1.jpg" class="responive-img">
        </div>
      </div>
      </div>
     </div>
    <!--Modal Structure Ends-->
     
    <div class="col s12 m6 l3">
      <a class="black-text modal-trigger" href="#modal3">
        <div class="card bottom hoverable">
              <div class="card-content yellow lighten-2">
            <i class="fa fa-line-chart fa-2x black-text card-icon" aria-hidden="true"></i>
                  <span class="card-title card-info black-text">
              <b>Corporate Facts</b>
            </span>
              </div>
          </div>
        </a>
    </div>
      <!-- Modal Structure -->
      <div id="modal3" class="modal bottom-sheet">
        <div class="modal-content">
         <h4 class="center about-title">Corporate Facts</h4>
         <hr class="modal-heading">
         <div class="row Co-facts-row">
           <div class="col s12 m6 l3">
             <a href="#!" class="black-text">
               <div class="card bottom hoverable">
                 <div class="card-content co-facts-content">
                   <span class="card-title red-text co-facts-title"><b>Since</b></span>
                   <p>2015 (3+ years in business)</p><br/>
                 </div>
               </div>
             </a>
           </div>
           <div class="col s12 m6 l3">
             <a href="#!" class="black-text">
               <div class="card bottom hoverable">
                 <div class="card-content co-facts-content">
                   <span class="card-title red-text co-facts-title"><b>Team Size</b></span>
                   <p>255+ Passionate Professionals</p><br/>
                 </div>
               </div>
             </a>
           </div>
           <div class="col s12 m6 l3">
             <a href="#!" class="black-text">
               <div class="card bottom hoverable">
                 <div class="card-content co-facts-content">
                   <span class="card-title red-text co-facts-title"><b>Infrastucture</b></span>
                   <p class="Sq-ft-p">5,500+ SQ. FT.</p><br/>
                 </div>
               </div>
             </a>
           </div>
           <div class="col s12 m6 l3">
             <a href="#!" class="black-text">
               <div class="card bottom hoverable">
                 <div class="card-content co-facts-content">
                   <span class="card-title red-text co-facts-title"><b>Presence In</b></span>
                   <p>Pune (India) - Headquarter, Mumbai (India)</p>
                 </div>
               </div>
             </a>
           </div>
           <div class="col s12 m6 l3">
             <a href="#!" class="black-text">
               <div class="card bottom hoverable">
                 <div class="card-content co-facts-content">
                   <span class="card-title red-text co-facts-title"><b>Reliability & Efficiency</b></span>
                   <p class="cmmi-p">CMMi (Assesment undergoing)</p>
                 </div>
               </div>
             </a>
           </div>
           <div class="col s12 m6 l3">
             <a href="#!" class="black-text">
               <div class="card bottom hoverable">
                 <div class="card-content co-facts-content">
                   <span class="card-title red-text co-facts-title"><b>Quality Management</b></span>
                   <p>ISO 9001:2008</p><br/>
                 </div>
               </div>
             </a>
           </div>
           <div class="col s12 m6 l3">
             <a href="#!" class="black-text">
               <div class="card bottom hoverable">
                 <div class="card-content co-facts-content">
                   <span class="card-title red-text co-facts-title"><b>IT Management</b></span>
                   <p>ISO 20000-1:2011</p><br/>
                 </div>
               </div>
             </a>
           </div>
           <div class="col s12 m6 l3">
             <a href="#!" class="black-text">
               <div class="card bottom hoverable">
                 <div class="card-content co-facts-content">
                   <span class="card-title red-text co-facts-title"><b>Business Continuity</b></span>
                   <p>ISO 22301:2012</p><br/>
                 </div>
               </div>
             </a>
           </div>
           <div class="col s12 m6 l3">
             <a href="#!" class="black-text">
               <div class="card bottom hoverable">
                 <div class="card-content co-facts-content">
                   <span class="card-title red-text co-facts-title"><b>Information Security Management</b></span>
                   <p>ISO 27001:2013</p>
                 </div>
               </div>
             </a>
           </div>
         </div>
         </div>
      </div>
      <!--Modal Structure Ends-->

    <div class="col s12 m6 l3">
      <a class="black-text modal-trigger" href="#modal4">
        <div class="card bottom hoverable">
              <div class="card-content yellow lighten-2">
              <i class="fa fa-trophy fa-2x black-text card-icon" aria-hidden="true"></i>
                  <span class="card-title card-info black-text"><b>Certifications</b></span>
              </div>
          </div>
        </a>
    </div>
    <!-- Modal Structure -->
    <div id="modal4" class="modal bottom-sheet">
      <div class="modal-content">
        <h4 class="center about-title">Certifications</h4>
        <hr class="modal-heading">
        ########
        </div>
    </div>
    <!--Modal Structure Ends-->

    <div class="col s12 m6 l3">
      <a class="black-text modal-trigger" href="#modal5">
        <div class="card bottom hoverable">
              <div class="card-content yellow lighten-2">
            <i class="fa fa-users fa-2x black-text card-icon" aria-hidden="true"></i>
                  <span class="card-title card-info black-text">
              <b>Partners</b>
            </span>
              </div>
          </div>
        </a>
    </div>
    <!-- Modal Structure -->
    <div id="modal5" class="modal bottom-sheet">
      <div class="modal-content container">
       <h4 class="center about-title">Partners</h4>
       <hr class="modal-heading">
       <div class="partners-wrapper center">
        <div>
          <img src="assets/Partners/acer.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/adc.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/adobe.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/ansys.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/apc.jpg" class="responive-img center">
          </div>
        <div>
          <img src="assets/Partners/apple.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/arcserver.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/array.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/aruba.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/asus93.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/autodesk.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/avaya.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/aws.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/axilspot.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/azure.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/baraccuda.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/bosch-1.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/brocade.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/cambium.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/canon.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/catech.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/chiko.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/cisco.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/citrix.jpg" class="responive-img center">
        </div>
        <div>	
          <img src="assets/Partners/commscope.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/ctrls.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/cyberroam.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/dell.png" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/dellemc.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/dlink.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/dynamic365.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/eaton.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/echo.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/echosens.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/enphase.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/epson.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/everfocus.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/firetvstick.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/fortinet.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/freshworks.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/fujitsu.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/geesys.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/gemalto.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/google.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/growatt.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/h.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/hcl.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/hitachi.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/hp-enterprise.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/huawei.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/ibm.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/ibmbluemix.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/imation.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/ina.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/ipcom.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/jabra.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/juniper.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/kindel.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/kodak.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/lenovo.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/lifesize.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/linksys.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/livint.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/logo_08.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/longisolar.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/luminous.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/mcafee.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/microfocus.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/microsoft-new.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/molex.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/moserbaer.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/msi.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/mssurface.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/navitassolar.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/ncomputing.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/netapp.png" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/nutanix.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/office.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/office365.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/omron.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/paloalto.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/peoplestrong.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/philips.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/planmeca.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/polycom.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/powerdsine.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/poweroak.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/primavera.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/ptc.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/quest.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/recsolar.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/redhat.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/refusol.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/renewsys.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/ricoh.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/rsa.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/ruckus.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/samsung.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/sandisk.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/sapphire.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/sas.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/schneider.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/seagate.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/siechem.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/siemens.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/skanray.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/smart.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/socomec.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/solux.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/sonicwall.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/sophos.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/soti.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/symantic.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/systimax.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/te-connectivity.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/toshiba.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/tplink.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/trendmicro.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/trinasolar.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/tyco.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/ubiquiti.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/vaultastic.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/vaultize.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/veeam.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/veritas.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/vision.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/vivotek.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/vmware.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/wd.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/xbox.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/xclaim.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/zeiss.jpg" class="responive-img center">
        </div>
        <div>
          <img src="assets/Partners/zyxel.jpg" class="responive-img center">
        </div>
       </div>
       </div>
    </div>
    <!--Modal Structure Ends-->

    <div class="col s12 m6 l3">
      <a class="black-text modal-trigger" href="#modal6">
        <div class="card bottom hoverable">
              <div class="card-content yellow lighten-2">
            <i class="fa fa-building-o fa-2x black-text card-icon" aria-hidden="true"></i>
            <span class="card-title card-info black-text">
              <b>Infrastructure</b>
            </span>
              </div>
          </div>
        </a>
    </div>
    <!-- Modal Structure -->
    <div id="modal6" class="modal bottom-sheet">
      <div class="modal-content container">
       <h4 class="center about-title">Infrastructure</h4>
       <hr class="modal-heading">
       <p>#######</p>
       </div>
    </div>
    <!--Modal Structure Ends-->

    <div class="col s12 m6 l3">
      <a class="black-text modal-trigger" href="#modal7">
        <div class="card bottom hoverable">
              <div class="card-content yellow lighten-2">
            <i class="fa fa-map-marker fa-2x black-text card-icon" aria-hidden="true"></i>
                  <span class="card-title card-info black-text">
                <b>Global Presence</b>
            </span>
              </div>
          </div>
        </a>
    </div>
    <!-- Modal Structure -->
    <div id="modal7" class="modal bottom-sheet">
      <div class="modal-content">
        <h4 class="center about-title">Global Presence</h4>
        <hr class="modal-heading">
      <div class="row container">
        <div class="col s12 m6 l4">
          <div class="card card-bg">
            <div class="card-content white-text">
              <div class="row">
                <div class="col s12 m6 l6">
                  <span class="card-title"><img src="assets/images/shanivarwada-2.svg"></span>
                </div>
                <div class="col s12 m6 l6">
                  <h5>PUNE</h5>
                  <p>Address</p>		
                </div>
              </div>
            </div>
          </div>
        </div>
         
        <div class="col s12 m6 l4">
          <div class="card card-bg">
            <div class="card-content location-details white-text">
              <div class="row">
                <div class="col s12 m6 l6">
                    <img src="assets/images/gatewayofindia(5).svg">
                </div>
              
                <div class="col s12 m6 l6">
                  <h5>Mumbai</h5>
                  <p>Address</p>		
                </div>
              </div>
              
            </div>
          </div>
        </div>
           
        <div class="col s12 m6 l4">
          <div class="card card-bg">
            <div class="card-content white-text">
              <span class="card-title"><i class="medium material-icons">location_city</i></span>
              <h5>California</h5>
              <p>Address</p>
            </div>
          </div>
        </div>
      </div>							
       </div>
    </div>
    <!--Modal Structure Ends-->

    <div class="col s12 m6 l3">
      <a class="black-text modal-trigger" href="#modal8">
        <div class="card bottom hoverable">
              <div class="card-content yellow lighten-2">
            <i class="fa fa-universal-access fa-2x black-text card-icon" aria-hidden="true"></i>
                  <span class="card-title card-info black-text">
                <b>CSR</b>
            </span>
              </div>
          </div>
        </a>
    </div>
    <!-- Modal Structure -->
    <div id="modal8" class="modal bottom-sheet">
      <div class="modal-content">
       <h4 class="center about-title">CSR</h4>
       <hr class="modal-heading">
        ######
       </div>
    </div>
    <!--Modal Structure Ends-->
    </div>
  </div>
  
</section>
