<html>
  <head ng-app="RoutingApp">
    <title></title>
    <script src="../Scripts/angular-route.min.js"></script>    
<script src="assets/js/PageRouting.js"></script>
  </head>
  <body ng-controller="mainController">
<section id="whatwedo">
  <span class="anchor"></span>
  <div class="container about">
    <div class="what">
      <h2 class="center header">WHAT WE DO</h2>
      <div class="row whtwedo-margin">
        <div class="col s12 m6 l4">
          <a href="#" class="black-text">
            <div class="card horizontal hoverable">
              <div class="card-image image">
                 <i class="material-icons icon">phone_android</i>
              </div>
              <div class="card-content">
                <b>Mobile Applications</b><br>
                <p>Where does it come from?</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col s12 m6 l4">
          <a href="whatwedo/wwd-details/wwd-details.component.html" class="black-text">
            <div class="card horizontal hoverable">
              <div class="card-image image">
                 <i class="material-icons icon">settings</i>
              </div>
              <div class="card-content">
                <b>Web Development</b><br>
                <p>Where does it come from?</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col s12 m6 l4">
          <a href="whatwedo/wwd-details/wwd-details.component.html" class="black-text">
            <div class="card horizontal hoverable">
            <div class="card-image image">
             <i class="material-icons icon">cloud</i>
            </div>
            <div class="card-content">
              <b>Cloud Computing</b><br>
              <p>Where does it come from?</p>
            </div>
          </div>
        </a>
        </div>
        <div class="col s12 m6 l4">
          <a href="whatwedo/wwd-details/wwd-details.component.html" class="black-text">
            <div class="card horizontal hoverable">
              <div class="card-image image">
               <i class="material-icons icon">language</i>
              </div>
              <div class="card-content">
                <b>Internet Of Things</b><br>
                <p>Where does it come from?</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col s12 m6 l4">
          <a href="whatwedo/wwd-details/wwd-details.component.html" class="black-text">
            <div class="card horizontal hoverable">
              <div class="card-image image">
               <i class="material-icons icon">trending_up</i>
              </div>
              <div class="card-content">
                <b>Analytics & Big Data</b><br>
                <p>Where does it come from?</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col s12 m6 l4">
          <a href="whatwedo/wwd-details/wwd-details.component.html" class="black-text">
            <div class="card horizontal hoverable">
              <div class="card-image image">
               <i class="material-icons icon">web_asset</i>
              </div>
              <div class="card-content">
                <b>UX/UI Design</b><br>
                <p>Where does it come from?</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col s12 m6 l4">
          <a href="whatwedo/wwd-details/wwd-details.component.html" class="black-text">
            <div class="card horizontal hoverable">
              <div class="card-image image">
               <i class="material-icons icon">share</i>
              </div>
              <div class="card-content">
                <b>Internet Marketing</b><br>
                <p>Where does it come from?</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col s12 m6 l4">
          <a href="whatwedo/wwd-details/wwd-details.component.html" class="black-text">
            <div class="card horizontal hoverable">
              <div class="card-image image">
                <i class="material-icons icon">headset_mic</i>
              </div>
              <div class="card-content">
                <b>Software Consulting</b><br>
                <p>Where does it come from?</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col s12 m6 l4">
          <a href="whatwedo/wwd-details/wwd-details.component.html" class="black-text">
            <div class="card horizontal hoverable">
              <div class="card-image image">
               <i class="material-icons icon">block</i>
              </div>
              <div class="card-content">
                <b>Blockchain Services</b><br>
                <p>Where does it come from?</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<div id="main">    
    <!-- angular templating : This is where content will be injected -->    
    <div ng-view></div>    
</div> 
</body>
</html>