<section>
  <div class="footer">
    <div class="container-fluid center">
      <a href="#" class="center brand-logo white-text"><img src="assets/images/Yellow-Kaalpanik-banner.png" class="responive-img" width="200px;"></a>
      
        <p>Local :(+91)99970287473 | Landline: 020-46706236</p>
      
        <div class="row">
          <div class="col s12 m12 l12">
            <img src="assets/images/facebook.png" class="responive-img footer-social-img">
            <img src="assets/images/instagram.png" class="responive-img footer-social-img">
            <img src="assets/images/linkedin.png" class="responive-img footer-social-img">
            <img src="assets/images/twitter.png" class="responive-img footer-social-img">
            
          </div>
        </div>
        <div class="center row">
          <div class="foot">
            <ul>
              <a href="#"><li>About Kaalpanik</li></a>
              <a href="#"><li>Contact Us</li></a>
              <a href="#"><li>Find Location</li></a>
              <a href="#"><li>Cookie Policy</li></a>
              <a href="#"><li>Site Map</li></a>
              <a href="#"><li>Privacy Policy</li></a>
              <a href="#"><li>Terms of Use</li></a>
              <a href="#"><li>Careers</li></a>
            </ul>
          </div>			
        </div>
      </div>
  
  </div>
  <div class="footer-bottom">
    <div class="container-fluid">
      <a href="#" class="center"><h6> Copyright <i class="material-icons">copyright</i> 2018 <b>KAALPANIK TECHNOLOGIES</b></h6></a>
    </div>	
  </div>
</section>