<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col l12 collapse what">
        <h2 class="center">ENTERPRISE MOBILITY</h2><hr>
        <p class="header-p center">Harness the power of a mobile-first journey with industry-specific solutions</p>
        <div class="row">
          <div class="col s12 m12 l6">
            <ul class="collapsible popout">
              <li>
                   <div class="collapsible-header">
                     <div class="row">
                       <div class="center col s12 m12 l12">
                         <h5><b>ENTERPRISE MOBILE STRATEGY</b></h5><hr>
                         <p class="header-p">Assess Enterprise Mobile Maturity & help in finding (then achieving) strategic Mobility needs of the organization at all levels</p>
                       </div>
                     </div>
                   </div>
                  <div class="collapsible-body">
                    <div class="row">
                      <div class="center col s12 m12 l2">
                        <img src="..assets//images/enterprise-mobile-strategy.png" class="responsive-img">
                      </div>
                      <div class="col s12 m12 l10">
                        <p class="body-p">We partner with enterprises to assess their mobile-readiness and help them prepare themselves, before they set out on their journey to being a ‘Mobile First’ organization.First, we categorize the enterprise into Void, Exploratory, Intermediate OR Expert Areas depending upon the current state of mobility in the enterprise. <br><br>Thereafter, we help in their transformation toward creating "Mobile First" organization - with following step-by-step approach.</p><br>
                          <ol>
                            <li>Design Architecture, Select Right Technology Stack & </li>
                            <li>Infrastructure</li>
                            <li>UX / UI Design Strategy</li>
                        <li>Middleware Development Strategy</li>
                        <li>Data Security Management Strategy</li>
                        <li>Device / App Management Strategy</li>
                        <li>Regulatory Compliance Assessment</li>
                        </ol>
                    </div>
                     </div>
                   </div>
                </li><br>
                <li>
                   <div class="collapsible-header center">
                     <div class="row">
                       <div class="center col s12 m12 l12 user-experience">
                         <h5><b>USER EXPERIENCE</b></h5><hr>
                         <p class="header-p">Research, UX Design, UI Design, Usability Testing, etc.</p>
                       </div>
                     </div>
                  </div>
                  <div class="collapsible-body">
                    <div class="row">
                      <div class="center col s12 m12 l2">
                        <img src="..assets/images/user-experience.png" class="responsive-img">
                      </div>
                      <div class="col s12 m12 l10">
                        <p class="body-p">Building a mobile app is more than just creating the tool; Here, maximum emphasis is on user experience.<br><br>
                        Nearly 40% of users will abandon an app if the experience is slow or cumbersome and 66% would rather read something beautifully designed. Companies simply can’t afford to miss on user experience, expectations are very high in this digital era and competitors are pushing to get it right.</p>
                    </div>
                      </div>
                    </div>
                </li><br>
                <li>
                  <div class="collapsible-header">
                    <div class="row">
                      <div class="center col s12 m12 l12">
                        <h5><b>APPLICATION DEVELOPMENT</b></h5><hr>
                        <p class="header-p">For Phones, Tablets, Wearables, etc. (on iOS, Android & Windows Platform) - Native, Hybrid, Mobile Web Application Development & Cross-Platform Application Development.</p>
                      </div>
                    </div>
                  </div>
                    <div class="collapsible-body">
                      <div class="row">
                        <div class="center col s12 m12 l2">
                          <img src="..assets/images/application-development.png" class="responsive-img">
                        </div>
                        <div class="col s12 m12 l10">
                          <p class="body-p">We are one of the first in the market to lead the mobile application development evolution from the early days of Palm handheld to today’s sophisticated Smartphones, Tablets & Wearables. We understand mobility like we know the back of our hands, that is why from Large Enterprises, SMEs to Startups - all have entrusted us with their mobile initiatives in the past and continue to do so. Our services include: Native Application Development, Hybrid Application Development & Mobile Web Application Development for Phones, Tablets, Wearables on all platforms - iOS, Android & Windows.<br><br>
                        Not every application needs native approach. We follow Native, Hybrid OR Cross-Platform application development approach based on factors like cost, time to market, user experience, type of application - each approach has their advantages & drawbacks.
                      </p>
                    </div>
                      </div>
                    </div>
                </li><br>
                <li>
                   <div class="collapsible-header">
                     <div class="row">
                       <div class="center col s12 m12 l12">
                         <h5><b>TESTING SERVICES</b></h5><hr>
                         <p class="header-p">
                        Functionality, Usability, Compatibility, Performance, Security & Localization.
                      </p>
                       </div>
                     </div>
                  </div>
                    <div class="collapsible-body">
                      <div class="row">
                        <div class="center col s12 m12 l2">
                          <img src="..assets/images/testing-services.png" class="responsive-img">
                        </div>
                        <div class="col s12 m12 l10">
                          <p class="body-p">Mobile Application Testing is one of the most critical aspects in the development process, which ensures applications perform consistently, across the plethora of mobile devices, platforms, and networks. We thoroughly test mobile applications in more than 100+ devices across various platforms using best processes / practices & various automation tools to ensure seamless and error free performance.
                      </p>
                        </div>
                      </div>
                    </div>
                </li><br>
            </ul>
          </div>
          <div class="col s12 m12 l6">
            <ul class="collapsible popout">
              <li>
                    <div class="collapsible-header">
                      <div class="row">
                        <div class="center col s12 m12 l12">
                          <h5><b>INTEGRATION SERVICES</b></h5><hr>
                          <p class="header-p">With Backend Systems, Data Sources, Middleware Applications, MEAP / MADP, ERP, CRM, E-Commerce, CMS, Payment Gateways, Social Media, etc.</p>
                        </div>
                      </div>
                    </div>
                  <div class="collapsible-body">
                    <div class="row">
                      <div class="center col s12 m12 l2">
                        <img src="..assets/images/integration-services.png" class="responsive-img">
                      </div>
                      <div class="col s12 m12 l10">
                        <p class="body-p">Mobile Application often requires integration to:</p><br>
                        <div class="row">
                          <div class="col s12 m12 l12">
                            <ol>
                            <li>Multiple Backend Systems</li>
                            <li>Different Data Sources</li>
                            <li>Middleware Applications</li>
                            <li>MEAP / MADP</li>
                            <li>ERP (SAP, Microsoft ERP, Odoo, Oracle ERP, Liferay, Sage ERP, etc.)</li>
                            <li>CRM (Salesforce, Microsoft Dynamics, Oracle Sales Cloud, SugarCRM, VTiger, Sage CRM, NetSuite, etc.)</li>
                            <li>E-commerce Platforms (Magento, Shopify, Opencart, nopCommerce, osCommerce, WooCommerce, AspDotNetStorefront, etc.)</li>
                            <li>Email Services</li>
                        <!--</ol>
                          </div>
                          <div class="col l6">
                            <ol>-->
                               <li>Messaging Services</li>
                            <li>Reporting Services</li>
                            <li>Analytics</li>
                            <li>Content Management Systems (Drupal, Sharepoint, Joomla, Wordpress, Kentico, Liferay, Alfresco, Umbraco, DotNetNuke, Typo3, Sitefinity, etc.)</li>
                            <li>Payment Gateways</li>
                            <li>Data Feeds</li>
                            <li>Social Media (Facebook, Twitter, LinkedIn, WhatsApp, Pinterest, Flickr, Instagram, Google Plus, etc.)</li>
                            <li>and more.</li>
                          </ol>
                        </div>
                        </div>
                      <p>We can implement all such integration requirements very efficiently.
                    </div>
                  </div>
                    </div>
                 </li><br>
                 <li>
                   <div class="collapsible-header">
                     <div class="row">
                        <div class="center col s12 m12 l12">
                          <h5><b>DEPLOYMENT & SUPPORT</b></h5><hr>
                          <p class="header-p">App Deployment, Analytics, Performance & Monitoring, Support & Maintenance, Updates, etc.App Deployment, Analytics, Performance & Monitoring, Support & Maintenance, Updates, etc.</p>
                        </div>
                    </div>
                </div>
                    <div class="collapsible-body">
                      <div class="row">
                      <div class="center col s12 m12 l2">
                        <img src="..assets/images/deployment-and-support.png" class="responsive-img">
                      </div>
                      <div class="col s12 m12 l10">
                        <p class="body-p">App Deployment depends upon target audience & type of application - either it can be done via regular channels like Apple App Store, Google Play Store & Windows Phone Store if its open for all, OR it can be managed via MDM (Mobile Device Management Software) OR MAM (Mobile Application Management Software) OR EAS (Enterprise Application Stores).</p>
                    <p class="body-p">It’s very important to measure different critical metrics like:</p>
                    <div class="row">
                      <div class="col s12 m12 l12">
                        <ol>
                          <li>DAU - Daily Active User</li>
                          <li>MAU - Monthly Active User</li>
                          <li>User Lifetime Value (LTV)</li>
                          <li>Average Session Length - Foreground & Background</li>
                          <li>Retention Rates, Engagement Rates</li>
                          <li>In-App Referrals</li>
                          <li>In App Feedback</li>
                          <li>App Ratings and Review Analytics</li>
                          <li>App Performance Analytics</li>
                        </ol>
                      </div>
                    </div>
                    <p class="body-p">We use various free / paid tools like:</p>
                    <div class="row">
                      <div class="col s12 m12 l6">
                        <ol>
                          <li>Google Analytics</li>
                          <li>Flurry</li>
                          <li>Amplitude</li>
                          <li>Kissmetrics</li>
                        </ol>
                      </div>
                      <div class="col s12 m12 l6">
                        <ol>
                          <li>Mixpanel</li>
                          <li>Countly</li>
                          <li>Keen.io</li>
                        </ol>
                      </div>
                    </div>
                  </div>
                    </div>
                  </div>
            </li><br>
            <li>
                <div class="collapsible-header">
                <div class="row">
                  <div class="center col s12 m12 l12">
                    <h5><b>MOBILE APP MARKETING</b></h5><hr>
                    <p class="header-p">App Branding, App Store Optimization, App Submission, App Advertising, App Promotion, etc.App Branding, App Store Optimization, App Submission, App Advertising, App Promotion, etc.</p>
                  </div>
                </div>
                </div>
                  <div class="collapsible-body">
                    <div class="row">
                  <div class="center col s12 m12 l2">
                    <img src="..assets/images/mobile-app-marketing.png" class="responsive-img">
                  </div>
                      <div class="col s12 m12 l10">
                        <div class="row">
                          <div class="col s12 m12 l12">
                            <ol>
                          <li>App Branding - Marketing Material, App Website, etc.</li>
                          <li>App Store Optimization - Research done verifies that around 63% of iOS users as well as 58% of Android users come across apps via app store search.</li>
                          <li>App Submission - to different review sites, PR sites, blogs, etc.</li>
                          <li>App Advertising - Paid advertising on search engines as well as on social media like Facebook, Twitter, etc.</li>
                            </ol>
                          </div>
                        </div>
                  </div>
                    </div>
                  </div>
            </li><br>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
